@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <MetaTags></MetaTags>
    <LinkTags></LinkTags>
</head>
<body class="bg-light style-default style-rounded">
    <div class="content-overlay"></div>
    <SideBarMenu></SideBarMenu>
    <main class="main oh" id="main">
        <SiteHeader></SiteHeader>
        @Body
        <SiteFooter></SiteFooter>
    </main>
</body>

</html>
