@page "/NewsList/{Id?}"
@using MyCms.Domain.Dto
@using MyCms.WebApp.Models


<Breadcrumbs></Breadcrumbs>

<div class="main-container container" id="main-container">
    <div class="row">
        <div class="col-lg-8 blog__content mb-72">
            <h1 class="page-title">تکنولوژی</h1>
            @foreach (var item in NewsModel.Items)
            {
                <TabNewsArticle NewsDto="@item"></TabNewsArticle>
            }
            <Pagination></Pagination>
        </div>
        <FavoriteNewsBar></FavoriteNewsBar>
    </div>
</div>

@code
{
    [Parameter]
    public int Id { get; set; }

    private PagedResult<NewsDto, NewsSearchItem> NewsModel { get; set; } = new PagedResult<NewsDto, NewsSearchItem>(){Items = new List<NewsDto>()};

    protected override async Task OnInitializedAsync()
    {
        var searchItem = new NewsSearchItem()
        {
            CategoryId = Id,
            HasPaging = true,
            ItemPerPage = 4,
            PageId = 1,
        };
        var response = await _http.PostAsJsonAsync(Const.ApiSiteUrl + "/api/News", searchItem);
        NewsModel = await response.Content.ReadFromJsonAsync<PagedResult<NewsDto, NewsSearchItem>>();
    }
}
