@page "/NewsList/{Id?}/{Title?}"
@using MyCms.Domain.Dto
@using MyCms.WebApp.Models


<Breadcrumbs CategoryId="@int.Parse(Id)" CategoryTitle="@Title"></Breadcrumbs>

<div class="main-container container" id="main-container">
    <div class="row">
        <div class="col-lg-8 blog__content mb-72">
            <h1 class="page-title">@Title</h1>
            @foreach (var item in NewsModel.Items)
            {
                <Article NewsDto="@item"></Article>
            }
            <Pagination></Pagination>
        </div>
        <FavoriteNewsBar></FavoriteNewsBar>
    </div>
</div>

@code
{
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Title { get; set; }

    private PagedResult<NewsDto, NewsSearchItem> NewsModel { get; set; } = new PagedResult<NewsDto, NewsSearchItem>() { Items = new List<NewsDto>() };

    protected override async Task OnParametersSetAsync()
    {
        var searchItem = new NewsSearchItem()
        {
            CategoryId =int.Parse(Id),
            HasPaging = true,
            ItemPerPage = 4,
            PageId = 1,
            Title = Title
        };
        var response = await _http.PostAsJsonAsync(Const.ApiSiteUrl + "/api/News", searchItem);
        NewsModel = await response.Content.ReadFromJsonAsync<PagedResult<NewsDto, NewsSearchItem>>();
    }
}
