@page "/NewsList"
<Breadcrumbs></Breadcrumbs>

<div class="main-container container" id="main-container">
    <div class="row">
        <div class="col-lg-8 blog__content mb-72">
            <h1 class="page-title">تکنولوژی</h1>
            <TabNewsArticle></TabNewsArticle>
            <Pagination></Pagination>
        </div>
        <FavoriteNewsBar></FavoriteNewsBar>
    </div>
</div>