<div id="respond" class="comment-respond">
    <div class="title-wrap">
        <h5 class="comment-respond__title section-title">دیدگاه شما</h5>
    </div>
    <form id="form" class="comment-form" method="post" action="#">
        <p class="comment-form-comment">
            <label for="comment">دیدگاه</label>
            <textarea id="comment" name="comment" rows="5" required="required"></textarea>
        </p>
        <div class="row row-20">
            <div class="col-lg-4">
                <label for="name">نام: *</label>
                <input id="name" type="text">
            </div>
            <div class="col-lg-4">
                <label for="comment">ایمیل: *</label>
                <input id="email" type="email">
            </div>
            <div class="col-lg-4">
                <label for="comment">رمز عبور: *</label>
                <input id="website" type="password">
            </div>
        </div>
        <p class="comment-form-submit">
            <input type="submit" class="btn btn-lg btn-color btn-button" value="ارسال دیدگاه" id="submit-message">
        </p>
    </form>
</div>