@using MyCms.Domain.Dto
@using MyCms.WebApp.Extensions

<article class="entry card post-list">
    <div class="entry__img-holder post-list__img-holder card__img-holder" style="background-image: url('img/NewsImage/@(string.IsNullOrWhiteSpace(NewsDto.ImageName)==false?NewsDto.ImageName:"no-image-available.png")')">
        <a href="/NewsDetails/@NewsDto.Id" class="thumb-url"></a>
        <img src="img/NewsImage/@(string.IsNullOrWhiteSpace(NewsDto.ImageName)==false?NewsDto.ImageName:"no-image-available.png")"
             alt="image news" class="entry__img d-none">
        <a href="/NewsDetails/@NewsDto.Id"
           class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--blue">
            @NewsDto.CategoryTitle
        </a>
    </div>

    <div class="entry__body post-list__body card__body">
        <div class="entry__header">
            <h2 class="entry__title">
                <a href="/NewsDetails/@NewsDto.Id">@NewsDto.Title</a>
            </h2>
            <ul class="entry__meta">
                <li class="entry__meta-date">
                    @NewsDto.CreateAt.ToShamsiWithMonthName()
                </li>
            </ul>
        </div>
        <div class="entry__excerpt">
            <p>@NewsDto.ShortDescription</p>
        </div>
    </div>
</article>

@code {
    [Parameter]
    public NewsDto NewsDto { get; set; }
}
