@using MyCms.Domain.Dto
<div class="container">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
            <a href="/" class="breadcrumbs__url">خانه</a>
        </li>
        <li class="breadcrumbs__item">
            <a href="/NewsList/@CategoryId" class="breadcrumbs__url">اخبار</a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item--current">
            @CategoryTitle
        </li>
    </ul>
</div>

@code
{
    [Parameter]
    public int CategoryId { get; set; }

    [Parameter]
    public string CategoryTitle { get; set; }
}
