@using MyCms.Domain.Dto


<li class="post-list-small__item">
    <article class="post-list-small__entry">
        <div class="post-list-small__body">
            <h3 class="post-list-small__entry-title">
                <a href="/NewsDetails/@NewsDto.Id">@NewsDto.Title</a>
            </h3>
        </div>
    </article>
</li>


@code
{
    [Parameter]
    public NewsDto NewsDto { get; set; }
}
