@using MyCms.Domain.Dto
@using MyCms.WebApp.Models


<aside class="col-lg-4 sidebar sidebar--1 sidebar--right">
    <aside class="widget widget_categories">
        <h4 class="widget-title">دسته بندی اخبار</h4>
        <ul>
            @foreach (var item in CategoryDto.Items)
            {
                <li>
                    <a href="/NewsDetails/@item.Id">
                        @item.Title
                        <span class="categories-count">
                            @item.CategoryNewsCount
                        </span>
                    </a>
                </li>
            }
        </ul>
    </aside>
</aside>

@code
{

    private PagedResult<CategoryDto, CategorySearchItem> CategoryDto { get; set; } = new PagedResult<CategoryDto, CategorySearchItem>() { Items = new List<CategoryDto>() };

    protected override async Task OnInitializedAsync()
    {
        CategoryDto = await _http.GetFromJsonAsync<PagedResult<CategoryDto, CategorySearchItem>>(Const.ApiSiteUrl + "/api/Category");
    }
}
