<aside class="col-lg-4 sidebar sidebar--right">
    <aside class="widget widget-popular-posts">
        <h4 class="widget-title">محبوب ترین مقالات</h4>
        <ul class="post-list-small">
            <FavoriteNews></FavoriteNews>
        </ul>
    </aside>
    <Register></Register>
</aside>