@using MyCms.Domain.Dto
@using MyCms.WebApp.Extensions
@using MyCms.WebApp.Models

<li class="post-list-small__item">
    <article class="post-list-small__entry clearfix">
        <div class="post-list-small__img-holder">
            <div class="thumb-container thumb-100">
                <a href="/NewsDetails/@NewsDto.Id">
                    <img data-src="@(NewsDto.ImageName!=null?Const.ApiSiteUrl+"/"+Const.NewsImageLocation+"/"+NewsDto.ImageName:"img/NewsImage/no-image-available.png")"
                         src="@(NewsDto.ImageName!=null?Const.ApiSiteUrl+"/"+Const.NewsImageLocation+"/"+NewsDto.ImageName:"img/NewsImage/no-image-available.png")"
                         alt="favorite news" class="post-list-small__img--rounded lazyload" />
                </a>
            </div>
        </div>
        <div class="post-list-small__body">
            <h3 class="post-list-small__entry-title">
                <a href="/NewsDetails/@NewsDto.Id">@NewsDto.Title</a>
            </h3>
            <ul class="entry__meta">
                <li class="entry__meta-date">
                    @NewsDto.CreateAt.ToShamsiWithMonthName()
                </li>
            </ul>
        </div>
    </article>
</li>

@code {

    [Parameter]
    public NewsDto NewsDto { get; set; }

}
