<li class="post-list-small__item">
    <article class="post-list-small__entry clearfix">
        <div class="post-list-small__img-holder">
            <div class="thumb-container thumb-100">
                <a href="single-post.html">
                    <img data-src="img/content/thumb/post-8.jpg" src="img/empty.png" alt="" class="post-list-small__img--rounded lazyload">
                </a>
            </div>
        </div>
        <div class="post-list-small__body">
            <h3 class="post-list-small__entry-title">
                <a href="single-post.html">گوشی تاشو هواوی میت ایکس در تاریخ مقرر عرضه می‌شود</a>
            </h3>
            <ul class="entry__meta">
                <li class="entry__meta-author">
                    <span>نویسنده:</span>
                    <a href="#">بهرامی راد</a>
                </li>
                <li class="entry__meta-date">
                    ۴ اردیبهشت ۱۳۹۸
                </li>
            </ul>
        </div>
    </article>
</li>
@code {

}
