<div class="col nav__megamenu-item">
    <article class="entry">
        <div class="entry__img-holder">
            <a href="single-post.html">
                <img src="img/content/thumb/post-1.jpg" alt="" class="entry__img">
            </a>
            <a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">تکنولوژی</a>
        </div>

        <div class="entry__body">
            <h2 class="entry__title">
                <a href="single-post.html">چرا لانچرهای اندروید دیگر محبوبیت گذشته را ندارند؟</a>
            </h2>
        </div>
    </article>
</div>