@using MyCms.Domain.Dto
@using MyCms.WebApp.Extensions

<ul class="comment-list">
    <li class="comment">
        <div class="comment-body">
            <div class="comment-avatar">
                <img alt="user image" src="img/default-avatar.png">
            </div>
            <div class="comment-text">
                <h6 class="comment-author">@NewsCommentDto.Username</h6>
                <div class="comment-metadata">
                    <a href="#" class="comment-date">@NewsCommentDto.CreateAt.ToShamsiWithMonthName()</a>
                </div>
                <p>@NewsCommentDto.Text</p>
                <a href="#" class="comment-reply">پاسخ</a>
            </div>
        </div>
    </li>
</ul>

@code
{
    [Parameter]
    public NewsCommentDto NewsCommentDto { get; set; }

    [Parameter]
    public NewsCommentDto ResponseComment { get; set; }
}
