@using MyCms.Domain.Dto
@using MyCms.WebApp.Models

<div class="top-bar d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="top-menu">
                    <li><a href="#">ورود به سایت</a></li>
                    <li><a href="#">ثبت نام در سایت</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="socials nav__socials socials--nobase socials--white justify-content-start">
                    <a class="social social-facebook" href="#" target="_blank" aria-label="facebook">
                        <i class="ui-facebook"></i>
                    </a>
                    <a class="social social-twitter" href="#" target="_blank" aria-label="twitter">
                        <i class="ui-twitter"></i>
                    </a>
                    <a class="social social-google-plus" href="#" target="_blank" aria-label="google">
                        <i class="ui-google"></i>
                    </a>
                    <a class="social social-youtube" href="#" target="_blank" aria-label="youtube">
                        <i class="ui-youtube"></i>
                    </a>
                    <a class="social social-instagram" href="#" target="_blank" aria-label="instagram">
                        <i class="ui-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="nav row">
    <div class="nav__holder nav--sticky">
        <div class="container relative">
            <div class="flex-parent">
                <button class="nav-icon-toggle" id="nav-icon-toggle" aria-label="Open side menu">
                    <span class="nav-icon-toggle__box">
                        <span class="nav-icon-toggle__inner"></span>
                    </span>
                </button>
                <a href="index.html" class="logo">
                    <img class="logo__img" src="img/logo_default.png" alt="logo">
                </a>
                <nav class="flex-child nav__wrap d-none d-lg-block">
                    <ul class="nav__menu">
                        <li class="active">
                            <a href="index.html">صفحه اصلی</a>
                        </li>
                        @foreach (var item in CategoryDto.Items)
                        {
                            <CategoryMenu CategoryId="@item.Id" CategoryTitle="@item.Title"></CategoryMenu>
                        }
                    </ul>
                </nav>
                <div class="nav__right">
                    <div class="nav__right-item nav__search">
                        <a href="#" class="nav__search-trigger" id="nav__search-trigger">
                            <i class="ui-search nav__search-trigger-icon"></i>
                        </a>
                        <div class="nav__search-box" id="nav__search-box">
                            <form class="nav__search-form">
                                <input type="text" placeholder="جستجو مقالات" class="nav__search-input">
                                <button type="submit" class="search-button btn btn-lg btn-color btn-button">
                                    <i class="ui-search nav__search-icon"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

@code
{
    public PagedResult<CategoryDto, CategorySearchItem> CategoryDto { get; set; } = new PagedResult<CategoryDto, CategorySearchItem>() { Items = new List<CategoryDto>() };

    protected override async Task OnInitializedAsync()
    {
        CategoryDto = await _http.GetFromJsonAsync<PagedResult<CategoryDto, CategorySearchItem>>(Const.ApiSiteUrl + "/api/Category");
    }
}
