@using MyCms.Domain.Dto
@using MyCms.WebApp.Models


<footer class="footer footer--light">
    <div class="container">
        <div class="footer__widgets">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <aside class="widget widget-logo">
                        <a href="index.html">
                            <img src="img/logo_default_white.png" srcset="img/logo_default_white.png 1x, img/logo_default_white@2x.png 2x" class="logo__img" alt="">
                        </a>
                        <p class="copyright">
                            این پروژه جهت تست و دیدن نمونه کدها ایجاد شده است.
                        </p>
                        <div class="socials socials--large socials--rounded mb-24">
                            <a href="#" class="social social-facebook" aria-label="facebook"><i class="ui-facebook"></i></a>
                            <a href="#" class="social social-twitter" aria-label="twitter"><i class="ui-twitter"></i></a>
                            <a href="#" class="social social-google-plus" aria-label="google+"><i class="ui-google"></i></a>
                            <a href="#" class="social social-youtube" aria-label="youtube"><i class="ui-youtube"></i></a>
                            <a href="#" class="social social-instagram" aria-label="instagram"><i class="ui-instagram"></i></a>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-2 col-md-6">
                    <aside class="widget widget_nav_menu">
                        <h4 class="widget-title">دسته بندی اخبار</h4>
                        <ul>
                            @foreach (var item in CategoryDto.Items)
                            {
                                <li>
                                    <a href="/NewsList/@item.Id">
                                        @item.Title
                                        <span class="categories-count">
                                            @item.CategoryNewsCount
                                        </span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-4 col-md-6">
                    <aside class="widget widget-popular-posts">
                        <h4 class="widget-title">محبوب ترین مقالات</h4>
                        <ul class="post-list-small">
                            @foreach (var item in NewsDto)
                            {
                                <FavoriteNews NewsDto="@item"></FavoriteNews>
                            }
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-3 col-md-6">
                    <Register></Register>
                </div>

            </div>
        </div>
    </div>
</footer>
<div id="back-to-top">
    <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
</div>

@code
{
    private List<NewsDto> NewsDto { get; set; } = new List<NewsDto>();
    private PagedResult<CategoryDto, CategorySearchItem> CategoryDto { get; set; } = new PagedResult<CategoryDto, CategorySearchItem>() { Items = new List<CategoryDto>() };

    protected override async Task OnInitializedAsync()
    {
        NewsDto = await _http.GetFromJsonAsync<List<NewsDto>>(Const.ApiSiteUrl + "/api/TopNewsLike");
        CategoryDto = await _http.GetFromJsonAsync<PagedResult<CategoryDto, CategorySearchItem>>(Const.ApiSiteUrl + "/api/Category");

    }

}