<article class="entry thumb thumb--size-1">
    <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/thumb/post-8.jpg');">
        <div class="bottom-gradient"></div>
        <div class="thumb-text-holder">
            <h2 class="thumb-entry-title">
                <a href="single-post.html">گوشی تاشو هواوی میت ایکس در تاریخ مقرر عرضه می‌شود</a>
            </h2>
        </div>
        <a href="single-post.html" class="thumb-url"></a>
    </div>
</article>