@using MyCms.Domain.Dto
@using MyCms.WebApp.Extensions
@using MyCms.WebApp.Models


<div class="col-md-6">
    <article class="entry card">
        <div class="entry__img-holder card__img-holder">
            <a href="/NewsDetails/@NewsDto.Id">
                <div class="thumb-container thumb-70">
                    <img data-src="img/NewsImage/@(string.IsNullOrWhiteSpace(NewsDto.ImageName)==false?NewsDto.ImageName:"no-image-available.png")"
                         src="img/NewsImage/@(string.IsNullOrWhiteSpace(NewsDto.ImageName)==false?NewsDto.ImageName:"no-image-available.png")"
                         class="entry__img lazyload" alt="" />
                </div>
            </a>
            <a href="/NewsDetails/@NewsDto.Id"
               class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">
                @NewsDto.CategoryTitle
            </a>
        </div>
        <div class="entry__body card__body">
            <div class="entry__header">
                <h2 class="entry__title">
                    <a href="/NewsDetails/@NewsDto.Id">@NewsDto.Title</a>
                </h2>
                <ul class="entry__meta">
                    <li class="entry__meta-date">
                        @NewsDto.CreateAt.ToShamsiWithMonthName()
                    </li>
                </ul>
            </div>
            <div class="entry__excerpt">
                <p>@NewsDto.ShortDescription</p>
            </div>
        </div>
    </article>
</div>

@code
{
    [Parameter]
    public NewsDto NewsDto { get; set; }
}

