<div class="tabs__content-pane tabs__content-pane--active" id="@TabId">
    <div class="row card-row">
        <TabNewsArticle></TabNewsArticle>
    </div>
</div> 


@code
{
    [Parameter]
    public string TabId { get; set; }
}
